App_Config/Schemas/Constellation.Sitecore.Seo.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.Sitecore.App_Config.Schemas" elementFormDefault="qualified" targetNamespace="urn:Constellation.Sitecore.App_Config.Schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Constellation" type="tns:Constellation.Sitecore.ConstellationCT" />
	<xs:complexType name="Constellation.Sitecore.ConstellationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="sitemapXmlHandler" type="tns:Constellation.Sitecore.App_Config.Schemas.SitemapXmlHandlerCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="robotsTxtHandler" type="tns:Constellation.Sitecore.App_Config.Schemas.RobotsTxtHandlerCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.App_Config.Schemas.SitemapXmlHandlerCT">
		<xs:attribute name="sitemapNodeType" use="required">
			<xs:annotation>
				<xs:documentation>The SitemapNodeType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="crawlerType" use="required">
			<xs:annotation>
				<xs:documentation>The CrawlerType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cacheTimeoutMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The CacheTimeoutMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.App_Config.Schemas.RobotsTxtHandlerCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="robotRules" type="tns:Constellation.Sitecore.App_Config.Schemas.RobotRulesCT">
				<xs:annotation>
					<xs:documentation>The RobotRules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="allowed" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Allowed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.App_Config.Schemas.RobotRulesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="robotRule" type="tns:Constellation.Sitecore.App_Config.Schemas.RobotRuleCT">
				<xs:annotation>
					<xs:documentation>The RobotRule Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.App_Config.Schemas.RobotRuleCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowed" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Allowed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
